Web References/wsGenerarPlano/wsGenerarPlano.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://generictransfer.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://generictransfer.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://generictransfer.com/">
      <s:element name="GenerarPlanoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strNombreDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCompania" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strCompania" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strClave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsFuenteDatos">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPlanoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarPlanoXMLResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportarDatosXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strNombreDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCompania" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strCompania" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strClave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFuenteDatos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportarDatosXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportarDatosXMLResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportarDatosDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strNombreDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCompania" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strCompania" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strClave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsFuenteDatos">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportarDatosDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportarDatosDSResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarPlanoXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPlanoXML" />
  </wsdl:message>
  <wsdl:message name="GenerarPlanoXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPlanoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="ImportarDatosXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ImportarDatosXML" />
  </wsdl:message>
  <wsdl:message name="ImportarDatosXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ImportarDatosXMLResponse" />
  </wsdl:message>
  <wsdl:message name="ImportarDatosDSSoapIn">
    <wsdl:part name="parameters" element="tns:ImportarDatosDS" />
  </wsdl:message>
  <wsdl:message name="ImportarDatosDSSoapOut">
    <wsdl:part name="parameters" element="tns:ImportarDatosDSResponse" />
  </wsdl:message>
  <wsdl:portType name="wsGenerarPlanoSoap">
    <wsdl:operation name="GenerarPlanoXML">
      <wsdl:input message="tns:GenerarPlanoXMLSoapIn" />
      <wsdl:output message="tns:GenerarPlanoXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportarDatosXML">
      <wsdl:input message="tns:ImportarDatosXMLSoapIn" />
      <wsdl:output message="tns:ImportarDatosXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportarDatosDS">
      <wsdl:input message="tns:ImportarDatosDSSoapIn" />
      <wsdl:output message="tns:ImportarDatosDSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsGenerarPlanoSoap" type="tns:wsGenerarPlanoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPlanoXML">
      <soap:operation soapAction="http://generictransfer.com/GenerarPlanoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarDatosXML">
      <soap:operation soapAction="http://generictransfer.com/ImportarDatosXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarDatosDS">
      <soap:operation soapAction="http://generictransfer.com/ImportarDatosDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsGenerarPlanoSoap12" type="tns:wsGenerarPlanoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPlanoXML">
      <soap12:operation soapAction="http://generictransfer.com/GenerarPlanoXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarDatosXML">
      <soap12:operation soapAction="http://generictransfer.com/ImportarDatosXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarDatosDS">
      <soap12:operation soapAction="http://generictransfer.com/ImportarDatosDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsGenerarPlano">
    <wsdl:port name="wsGenerarPlanoSoap" binding="tns:wsGenerarPlanoSoap">
      <soap:address location="http://192.168.2.14/GTIntegration/ServiciosWeb/wsGenerarPlano.asmx" />
    </wsdl:port>
    <wsdl:port name="wsGenerarPlanoSoap12" binding="tns:wsGenerarPlanoSoap12">
      <soap12:address location="http://192.168.2.14/GTIntegration/ServiciosWeb/wsGenerarPlano.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>